.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #FFFFFF;
	color: #444444;
}

a {
	color: #B7BDC5;
	font-weight: bold;
}

a:hover {
	color: #B7BDC5;
	font-weight: bold;
}

.nav-pills .nav-link {
	border-radius: 0;
	padding: 10px 70px;
}

.tab-content {
	background-color: #FFFFFF;
	min-height: 400px;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("./../images/select.png");
  background-repeat: no-repeat;
  background-position-x: 88%;
  background-position-y: 10px;
  border: 1px solid #dfdfdf;
  color:#9A9A9A;
}

.chosen-container {
	-webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("./../images/select.png");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 10px;
  border: none !important;
  margin-top: 0 !important;
  border-radius: 5px;
}

.chosen-container-single {
	height: 30px !important;
	margin-right: 10px;
}

.chosen-search input {
	border : none;
	outline: none;
}

.chosen-single span {
	color:#9A9A9A;
	font-size: 11px !important;
	padding-top: 10px;
	padding: 3px !important;
}

.chosen-single {
	background-color: #F1F1F1 !important;
	height: 36px !important;
}

.chosen-container-single .chosen-single div b {
    background-image: url("../images/select.png");
    margin: 3px 0 3px 0;
}

.chosen-container-single .chosen-single div {
		width: 28px !important;
		padding-left: 8px !important;
}

.chosen-container ul.chosen-results li.highlighted {
  background-color: #3CB075;
  background-image: none;
}

.cari {
	padding:5px;
	font-size: 12px;
	margin-right: 10px;
	background-color: #18A55D;
	color: #FFFFFF;
	padding: 0 25px;
	height: 35px;
}

.export {
	padding:5px;
	margin-top: 5px;
	font-size: 12px;
	margin-right: 10px;
	background-color: #18A55D;
	color: #FFFFFF;
	padding: 0 25px;
}

.dataTables_wrapper {
	background-color: #E5E5E5;
	margin-bottom: 10px;
}

table.dataTable {
	margin-top: 0 !important;
}

table.dataTable thead {
	text-align: center;
}

.page-item.disabled .page-link {	
	background-color: #E5E5E5;
}

.page-item.active .page-link {
	background-color: #18A55D !important;	
	border-color: #18A55D !important;	
}

.page-link {
	background-color: #E5E5E5 !important;	
	color: #BDBDBD;
	font-weight: bold;
}

.dataTables_wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.tampil {
	background-color: #E5E5E5 !important;
	margin-top: 8px;
}

.tampil h6 {
	color: #18A55D !important;	
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 0 !important;
}

.main {
	background-color: #E5E5E5;
}

.ic {
	padding: 8px 15px;
	min-width: 210px;	
	width: 400px;
	font-size: 12px;
}


.dot-three {
	border-radius: 35px;
	border-style: none;
	padding: 7px 5px;
	background-color: #408EBA;
}

thead tr td {
	text-align: center;
}

.ls{
	padding:5px 35px 5px 20px;
	background-color: #F6F6F6;
	margin-top: -5px;
}

.dataTables_length label {
	color:#9A9A9A;
}