@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/SourceSansPro-Regular.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/SourceSansPro-SemiBold.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/SourceSansPro-Bold.ttf');
    font-style: normal;
    font-weight: 600;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'SourceSansPro';
}

body {
    background: #ECF0F5;
}

.container-fluid {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li {
    width: 100%;
    display: block;
    float: left;
    position: relative;
}

.menu ul li a {
    width: 100%;
    padding: 14px 22px;
    float: left;
    text-decoration: none;
    color: #444444;
    font-size: 14px;
    font-weight: 300;
    background: #ffffff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    -o-transition: color .2s linear, background .2s linear;
    -moz-transition: color .2s linear, background .2s linear;
    -webkit-transition: color .2s linear, background .2s linear;
    transition: color .2s linear, background .2s linear;
}

.menu>ul>li.active>a,
.menu>ul>li:hover>a {
    color: #444444;
    background: #ffffff;
    font-weight: 600;
}

.menu>ul>li>a {
    border-bottom: solid 1px #DEE6EF;
}

.menu ul li img {
    width: 20px;
    margin-right: 15px;
}

.main {
    background-color: #FFFFFF;
    padding: 20px;
}

.main label {
	color: #444444;
}

.breadcrumb-item a {
	font-size: 14px !important;
	font-weight: 300 !important;
	color: #408EBA;
}

.breadcrumb-item.active {
	font-size: 14px;
	margin-top: 2px;
}

.custom-control-label::before,
.custom-control-label::after {
    top: .9rem;
    width: 1rem;
    height: 1rem;
    border: solid 2px #787878;
    /*background-color: #FFFFFF;*/
    color: #444444;
}

.title {
    font-weight: 600;
    margin-bottom: 40px;
}

.button-main {
    background-color: #3CB075;
    color: #FFFFFF;
}

.label-main {
    font-weight: 600;
    color: #444444;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../images/select.png");
    background-repeat: no-repeat;
    background-position-x: 88%;
    background-position-y: 10px;
    border: 1px solid #dfdfdf;
}

.chosen-container {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../images/select.png");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 10px;
    border: 1px solid transparent;
    /*margin-top: -5px;*/
    border-radius: 5px;
}

.chosen-search input {
    border: none;
    outline: none;
}

.chosen-single span {
    color: #9A9A9A;
    font-size: 15px;
    padding-top: 5px;
}

.chosen-single {
    background-color: #F1F1F1 !important;
    height: 35px !important;
}

.chosen-container-single .chosen-single div b {
    background-image: url("../images/select.png");
    margin: 5px 0 10px 0;
}

.chosen-container-single .chosen-single div {
    width: 28px !important;
}

.chosen-container ul.chosen-results li.highlighted {
    background-color: #3CB075;
    background-image: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: #3CB075;
}

.custom-checkbox .custom-control-label::before {
    background-color: #FFFFFF;
}

.custom-control-label {
    margin-left: 10px;
    font-size: 14px !important;
    font-weight: 300 !important;
}

/*.option-main option {
	color:#9A9A9A;
}

option:hover{background-color:yellow;}

.option-main {
	color:#9A9A9A;
}*/

.form-control {
    background-color: #F1F1F1;
}

.form-control::-webkit-input-placeholder {
    color: #9A9A9A;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: #9A9A9A;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: #9A9A9A;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: #9A9A9A;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: #9A9A9A;
}

/* Microsoft Edge */

.table thead {
    background-color: #FFFFFF;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-style: normal; 
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.table tbody {
    background-color: #FBFBFB;
}

.table tbody tr td {
    font-weight: 300;
    font-size: 16px
}

.tb1 tbody tr td:nth-child(1) {
    font-weight: 400 !important;
}

.tb2 tbody {
	background-color: white !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #FBFBFB;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #F8F8F8;
}

.badge-secondary {
    background-color: #BABABA;
    padding: 5px 15px 5px 15px;
    color: #FFFFFF;
    font-weight: 300;
    border-radius: 20px;
}

.dot-three {
    border: none;
    cursor: pointer;
    background-color: #408EBA;
    padding: 12px 2px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 20px;
    transition: 0.5s;
}

/*.dot-three:hover {
  padding:5px 40px;
}*/

.lw {
    color: #FFFFFF;
    border-color: transparent;
    outline: none;
    margin-right: 5px;
    /*display: none;*/
}

.la {
	color: #FFFFFF !important;
	text-decoration: none !important;
    border-color: transparent;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin-top: -3px;
}

.lw:focus {
    border-color: transparent;
    /*display: none;*/
}

.subs {
    line-height: 10px;
    font-size: 12px;
}

.bg-light {
    background-color: #E5E5E5 !important;
}

.f20 {
    font-size: 20px !important;
}

.form-group label, .l-1 {
    font-size: 16px;
    /*font-weight: 400 !important;*/
}

.col-form-label {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.custom-checkbox {
	padding-top: 5px !important;
}

.lt {
	font-size: 15px !important;
	font-weight: 300 !important;
}

.aw {
	background-color: #F3F3F3 !important;
}

.form-control {
	font-weight: 300 !important;
	font-size: 15px;
	border-color: transparent !important;
}

.bg-secondary {
	background-color: #18A55D !important;
}

.bg-secondary a {
	color: #FFFFFF !important;
	font-size: 14px;
	font-weight: 600;
}

.dt-1 {
	min-width: 280px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.at {
	font-size: 32px;
	font-weight: 300;
}

a {
	color: #408EBA;
	font-size: 14px
}

.main-f {
	background-color: #FFFFFF;
}

.main-f h6 {
	margin-bottom: 1px;
	font-weight: 600;
}

.main-f h5 {
	margin-bottom: 1px;
	font-weight: 600;
}

.main-f label {
	font-weight: 300;
	font-size: 14px;
}

.ijo {
	background-color: #8EB73F !important;
}

.t1 {
	font-size: 20px;
	font-weight: 600;
}

.f2 {
	background: #ECF0F5;
}

.t2 {
	font-size: 20px !important;
	font-weight: 400 !important;
}

.t3 {
	font-weight: 400 !important;
}

.t4 {
	font-size: 20px !important;
	font-weight: 600 !important;
}

.main-a {
    background-color: #FFFFFF;
    padding: 20px;
}

.main-a label {
	margin-bottom: 0;
	margin-top: 0;
}

.main-a table {
	font-size: 16px !important;
}

.adm {
	font-size: 32px;
	font-weight: 300 !important;
}

.main-c table td {
	padding: 1rem 3rem;
	font-weight: 400;
	font-size: 14px;
}

.act {
	font-weight: 400 !important;
}

.main-c table thead td {
	font-size: 20px;
}

input[type=radio] {
    border: 0px;
    width: 1em;
    height: 1em;
    color: green;
    background-color: green;
}

.dataTables_wrapper {
	background-color: #ECF0F5 !important; 
}

.page-item.disabled .page-link {
	color: #18A55D;
	background-color: transparent !important;
	border-color: transparent !important;
}

.page-link {
	border :none;
}

.dt-buttons {
	display: none;
}

.s-ic {
	margin-right: 10px;
	display:inline-block;
  	position: relative;
}

.export {
	padding:5px;
	margin-top: 5px;
	font-size: 12px;
	margin-right: 10px;
	background-color: #18A55D;
	color: #FFFFFF;
	padding: 5px 35px 5px 25px;
}

.img-sic {
	position: absolute;
	right: 20px;
	top:16px;
	width: 12px;
	height: 8px;
}

.l2 {
	font-size: 14px !important;
	font-weight: 300 !important;
}

.d-ic {
	margin-right: 10px;
	display:inline-block;
  	position: relative
}

.img-ic {
  position: absolute;
  right: 6px;
  top:10px;
  width: 14px;
  height: 14px;
}

.badge-danger {
	background-color: #D14444;
}

.badge-dark {
	background-color: #BABABA !important;
}

.badge-success {
	background-color: #3CB075;
}

.badge-primary {
	background-color: #408EBA;
}

.bg-dark {
	background-color: #BABABA !important;
}

.bg-success {
	background-color: #3CB075;
}

.bg-primary {
	background-color: #408EBA !important;
}

.bg-white {
	background-color: #FFFFFF !important;
}

.bg-orange {
	background-color: #FF7628 !important;
}

.r1 {
	border-radius: 20px;	
	min-width: 100px;
	/*padding: 8px 0;*/
	font-weight: 300 !important;
	font-size: 16px;
}

.r2 {
	border-radius: 20px;	
	min-width: 25px;
	padding: 5px 3px;
	font-weight: 300 !important;
	font-size: 15px;
	float:right;
	background-color: #408EBA;
	color: #FFFFFF;
}

.r3 {
	border-radius: 20px;	
	min-width: 100px;
	/*padding: 2px 0;*/
	font-weight: 300 !important;
	font-size: 16px;
	color: #FFFFFF;
}

.sg {
	min-width: 25px;
	font-weight: 400 !important;
	padding: 0 3px;
	font-size: 15px;
	float:right;
	color: #18A55D;
	font-size: 24px;
}

.fb {
	font-weight: 600 !important;
}

.fn {
	font-weight: 300 !important;	
}

.fs {
	font-weight: 400 !important;	
}

.bg-sdark {
	background-color: #ECF0F5 !important;
}

hr {
    border: 1px solid #C4C4C4 !important;
    border-top: 0;
}

.form-control {
	padding: .6rem .75rem;
	border-radius: .4rem;
}

label {
	font-size: 14px;
	font-weight: 300;
	color: #444444;
}

h4, h5, h6 {
	font-weight: 600;
	color: #444444;
}

.f15 {
	font-size: 15px;
}




.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #377BB5;
    color: #FFFFFF;
    font-size: 20px !important;			
    font-weight:400;
}
.nav-pills label {
    color: #FFFFFF;
    font-size: 16px !important;			
    font-weight:300;
    margin-bottom:0;
}
.nav-pills p {
    margin-bottom: 2px;
}
.nav-pills .nav-link {
    background-color: #D0DEE9;
    color: #A9BAC7;			
    font-size: 20px !important;			
    font-weight:400;
}
.nav-justified .nav-item {
	text-align: left;
}


.chosen-container {
	-webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("../images/select.png");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 10px;
  border: none !important;
  margin-top: 0 !important;
  border-radius: 5px;
}

.chosen-container-single {
	height: 30px !important;
	margin-right: 10px;
}

.chosen-search input {
	border : none;
	outline: none;
}

.chosen-single span {
	color:#9A9A9A;
	font-size: 15px !important;
	padding-top: 10px;
	padding: 3px !important;
	font-weight: 300;
}

.chosen-single {
	background-color: #F1F1F1 !important;
	height: 36px !important;
}

.chosen-container-single .chosen-single {
	border: 0 solid #e5e6e7;
	padding: 2px 0 2px 8px;
	border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.chosen-container-single .chosen-single div b {
    background-image: url("../images/select.png");
    margin: 5px 0 3px -5px;
}

.chosen-container-single .chosen-single div {
		width: 28px !important;
		padding-left: 8px !important;
}

.chosen-container ul.chosen-results li.highlighted {
  background-color: #3CB075;
  background-image: none;
}

.ln {
	font-weight: 300 !important;
	font-size: 12px !important;
}

.btn {
	border-radius: .10rem;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
}

.img-d {
  position: absolute;
  right: 10px;
  top:12px;
  width: 20px;
  height: 20px;
}

.red1 {
	color: #FC0D1B;
}

.yell1 {
	color: #FDA429;
}

.w1 {
	color: #FFFFFF;
}

.dark1 {
	color: #A9A9A9;
}

.dark2 {
	color: #444444;
}

.table thead {
	font-weight: bold;
}

.table tbody tr td input {
	text-align: center;
	background-color: #FFFFFF;
	border-color: #F1F1F1 !important;
}

.table tbody tr td:nth-child(1) input {
	background-color: #EEEEEE;
}

.upl {
	color: #408EBA;
	font-weight: 600;
	font-size: 16px;
}

.c-l {
	color: #A9A9A9;
}

.c-r {
	color: red;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
	background-image: none;
}

button:focus {
	outline: none !important;
}

@media print {
  .ml-auto, .nop {
    visibility: hidden;
    display: none;
  }  

  .container-fluid {
    margin: 0;
    padding: 0;
  }  
}

.print {
	cursor: pointer;
}

.btn-trans {
    border: none;
    background-color: transparent;
    padding: 0;
}

input[type='radio']:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #444444;
}

input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #3CB075;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #444444;
}

/* New Customization */
.top-navigation {
    background-color: #ffffff;
}

.top-navigation ul li > a {
    color: #444444;
}

.top-navigation ul li > a img {
    height: 30px;
    margin-right: 8px;
}

.top-navigation img {
    height: 60px;
}

.bottom-navigation {
    background-color: #19A55d;
    padding-top: 0;
    padding-bottom: 0;
}

@media (min-width: 992px) {
    .bottom-navigation .navbar-brand {
        display: flex;
    }
}

.bottom-navigation .navbar-brand > img {
    height: 16px;
}

.bottom-navigation ul li > a{
    color: #ffffff;
}

.bottom-navigation ul li > a img {
    height: 12px;
    margin-right: 6px;
}